<header>
    <div class="container">
      <a href="/"><h1>Momes</h1></a>
      <nav>
        <ul>
          <% if session[:user_id] %>
            <li>Hello <%= current_user.first_name %></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/logout">Logout</a>
          <% else %>
            <li><a href="<%= @fb_login_link %>">Login through facebook</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>