<div class="container">
	<h3 class="have_you">Have you hooked up with...</h3>
	<div class="friend_display_container">
		<img class="thumbs_picker thumbs_up hooked_up" src="img/thumbs_up">
		<img class="thumbs_picker thumbs_down" src="img/thumbs_down">
		<div class="friend_window">
			<script type="text/javascript">
				var facebook_id_vars = []
			</script>
			<% @friends.each do |friend| %>
				<%= erb :_friend_slide, :locals => {:friend => friend} %>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var current_friend_slide = 0
		$('.indi_friend_shell:first').css('left',0).addClass('open_slide');

		$('.thumbs_down').click(function(){
			event.preventDefault()
			next_slide()
			$.post('/no_hookup')
		})

		$('.thumbs_up').click(function(){
			event.preventDefault()
			next_slide()
			$.post('/answer',{friend_info: facebook_id_vars.shift()})
			check_for_next_batch()
		})

		function check_for_next_batch(){
			if (facebook_id_vars.length < 5){
				$.post('/get_more_slides', function(data){
						$('.friend_window').append(data)
					}
				)
			}
		}

		function next_slide(){
			$('.open_slide').animate({
				'left' : '-300px'
			},1000, function(){
				$(this).remove();
			})
			$('.open_slide').next().addClass('open_slide').animate({
				'left' : '0px'
			},1000)
		}

	})
</script>