<div class="container">
	<h3 class="have_you">Have you hooked up with...</h3>
	<div class="friend_display_container">
		<img class="thumbs_picker thumbs_up hooked_up" src="img/thumbs_up">
		<img class="thumbs_picker thumbs_down" src="img/thumbs_down">
		<div class="friend_window">
			<script type="text/javascript">
				var facebook_id_vars = []
			</script>
			<% @friends.each_with_index do |friend, index| %>
				<%= erb :_friend_slide, :locals => {:friend => friend, :index => index} %>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var batch_end_index = <%= @batch_end_index %>;
		var slide_in_progress = false;

		function check_for_next_batch(){
			if ($('.indi_friend_shell').length == 10){
				alert('hit')
				$.post('/get_more_slides', {last_batch_ending_index: batch_end_index}, function(data){
						$('.friend_window').append(data)
						batch_end_index += 15
					}
				)
			}
		}

		function next_slide(){
			slide_in_progress = true;
			$('.open_slide').animate({
				'left' : '-300px'
			},700, function(){
				$(this).remove();
				slide_in_progress = false;
			}).next().addClass('open_slide').animate({
				'left' : '0px'
			},500)
		}
		
		$('.indi_friend_shell:first').css('left',0).addClass('open_slide');

		$('.thumbs_down').click(function(){
			if (slide_in_progress == false) {
				event.preventDefault()
				next_slide()
				$.post('/no_hookup')
				check_for_next_batch()
			}
		})

		$('.thumbs_up').click(function(){
			if (slide_in_progress == false) {
				event.preventDefault()
				next_slide()
				current_friend = $('.indi_friend_shell:first').data('friend_info')
				$.post('/answer',{friend_info: current_friend})
				check_for_next_batch()
			}
		})

	})
</script>