<div class="container">
	<h3 class="pref_header">Do you hook up with...</h3>
	<div class="sex_symbol_shell">
		<a class="sex_symbol" href="/play?pref=female"><img src="img/female.png"><p>Chicks?</p></a>
		<a class="sex_symbol" href="/play?pref=male"><img src="img/male.png"><p>Dudes?</p></a>
	</div>
	</div>
</div>